<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="content-language" content="en-us">
  <!-- <base href="/public/" /> -->
  <meta name="description" content="description">
  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <!-- <link type="shortcut icon" rel="icon" href="favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="styles/index.css">

  <title>Hello World | {{ appName }}</title>
</head>

<body>

  <h1>{{ 2 + 2 }}</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In impedit qui doloribus cumque, quaerat iusto expedita nihil quia, ducimus, non quis autem ratione nisi earum. Tempora explicabo nihil rem esse!</p>

  {{ getTemplate("app-footer.html") }}

  <script type="module" src="js/index.js"></script>

</body>

</html>