<!DOCTYPE html>
<html lang="en">

{% renderTemplate("components/appHead.html", { head: {% JSON.stringify(head) %} }) %}

<body class="{% body.class %}">

  <div class="wrapper">

    {% renderTemplate("components/appHeader.html") %}

    <div class="content">

      <h1>Account Deleted</h1>
      <h2>Your account has been deleted.</h2>

      <div class="ctaWrapper">
        <a class="cta green" href="account/create">Signup Again</a>
      </div>

    </div>

    {% renderTemplate("components/appFooter.html", { footer: {% JSON.stringify(footer) %} }) %}

  </div>

  <script type="module" src="js/index.js"></script>

</body>

</html>