<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="content-language" content="en-us">
  <base href="/" />
  <meta name="description" content="{% head.description %}">
  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <!-- <link type="shortcut icon" rel="icon" href="favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="styles/index.css">

  <title>{% head.appName %} | {% head.title %}</title>
</head>